.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.login__logo{
    width: 40%;
    max-width: 300px;
}

.login > a {
    padding: 20px;
    border-radius: 150px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none;
}